/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.sitenName {
list-style: none;
}

nav ul li {
  list-style: none;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
