/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* text  */
h2 {
  margin: auto;
}

/* body */
body {
  background-image: url('/images/site/small_check.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  padding: 1em;
}
#wrapper {
  max-width: 1500px;
  margin: 3em;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

/* Title and My Account */
header {
  padding: 15px 0px 15px 0px;
}

a {
  text-decoration: none;
  color: red;
}

.siteName {
  font-size: 30px;
}

#tools {
  position: relative;
  float: right;
}

/* menu */
nav {
  text-align: center;
  background-color: black;
}

nav ul {
  padding: 15px;
}

nav li {
  display: inline;
  background-color: black;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

nav li:hover {
  background-color: white;
  color: black;
}

/* top section  */
.top-box {
  background-image: url('/images/vehicles/delorean.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; 
  padding: 2em;
  margin-bottom: 10%;
  display: flex;
}

.features {
  background: rgba(255, 1255, 255, .8);
  margin-left: 10%;
  padding: .5em;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  max-width: 250px;
}

button {
  background-color: rgba(255, 1255, 255, 0);
  border-style: none;
  padding: .5em .8em .5em .8em;
  transition: all .2s ease-in-out;
  color: red;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

button:hover {
  transform: scale(1.1);
}

.bottom-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  padding: 3em 0em 0em 2em;
  border-top-style: solid;
  border-width: 2px;
  border-color: grey;
}

.upgrades {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
.upgrades h3 {
  width: 100%;
}

.upgrades a {
  color: rgb(83, 83, 83);
}

.upgrades span {
  padding: 1em;
  margin: 5%;
  width: 40%;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

.upgrades span:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out;

}

.upgrades img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reviews {
max-width: 50%;
padding: 0em 1em 0em 1em;
}

.reviews ul {
  margin-left: -5%;
}

.reviews li {
  margin-top: 10%;
  text-decoration: none;
}



@media (max-width: 767px) {
  h1 {
    text-align: center;
  }

 
  .features {
    text-align: center;
    padding: .5em;

  }

  .bottom-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 1em;
  }
  .upgrades {
    max-width: 100%;
    padding: .5em;
  }

  .reviews {
    max-width: 100%;
   padding: .5em;
    }
  nav li {
    margin: auto;
    padding: .25em;
    }
  body {
    margin: -10%;

    background-image: none;
  }
  #wrapper {
    border: none;
  }
}


