/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* body */
body {
  background-image: url('/images/site/small_check.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  padding: .5em;
}
#wrapper {
  max-width: 1500px;
  margin: 3em;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

/* Title and My Account */
header {
  padding: 15px 0px 15px 0px;
}

a {
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: 30px;
}

#tools {
  position: relative;
  float: right;
}

/* menu */
nav {
  text-align: center;
  background-color: black;
}

ul {
  padding: 15px;
}

nav li {
  display: inline;
  background-color: black;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

nav li:hover {
  background-color: white;
  color: black;
}


/* top section  */
.top-box {
  background-image: url('/images/vehicles/delorean.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; 
  padding: 1em;
  display: flex;
}
.features {
  background: rgba(255, 1255, 255, .5);
  margin: auto;
  padding: .5em;
  border-radius: 20px;
  max-width: 250px;
}
